$button_bg_color: $themeColorTwo;
$button_hover_bg_color: lighten($button_bg_color, 15%);
$button_font_color: #fff;
$button_border: none;
$button_border_radius: 5px;
$button_font_size: 13px;
$button_padding: 1.5em 2em;


.button-main {
  background: $button_bg_color;
  color: $button_font_color;
  border: none;
  border-radius: $button_border_radius;
  font-size: $button_font_size;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $button_padding;
  cursor: pointer;
  text-align: center;
  @extend %smooth_animation;
  &:hover, &:focus {
    @extend %smooth_animation;
    color: $button_font_color;
    background: $button_hover_bg_color;
  }

  &--style {
    padding-left: 10px;
    padding-right: 10px;
  }

  &--single {
    margin-top: 15px;
    min-width: 230px;
  }
}

@media screen and (min-width: 1430px) {
  .button-main {
    &--style {
      padding: $button_padding;
    }
  }
}

.button-simple {
  background: $primary_color_2;
  color: $themeColorOne;
  border: 1px solid $button_bg_color;
  border-radius: $button_border_radius;
  font-size: $button_font_size;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  padding: 1.2em 4em;
  cursor: pointer;
  text-align: center;
  @extend %smooth_animation;
  &:hover, &:focus {
    @extend %smooth_animation;
    color: $button_font_color;
    background: $button_bg_color;
  }
}