.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $primary_color_2;

  &__sub-title {
    color: #7289c0;
    margin-right: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__column {
    background: $footer_bg_color;
    width: 40%;
    padding: 4% 0;
    margin-left: 3%;

  }

  &__bg {
    background: $footer_bg_color;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    & .logo-link {
      border: 0;
    }
  }

  &__map-wrapper {
    background-color: $primary_color_2;
    width: 60%;

    & iframe {
      width: 100% !important;
      height: 100% !important;
    }
  }

  & .logo-link {
    border: none;
  }

  &__icon {
    background: $accent_color;
    color: $primary_color_2;
    border-radius: $border_round_radius;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    margin-right: 10px;

    & i {
      font-size: 15px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    & .social-link {
      background: $accent_color;

      &:hover, &:focus {
        background: lighten($accent_color, 15%);
      }
    }
  }

  &__field {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    color: $primary_color_2;
    font-size: 18px;

    & br {
      display: none;
    }

    & .phone {
      display: flex;
      flex-direction: column;

      &-item {
        margin: 0 0 5px;

        &:last-child {
          margin-bottom: 15px;
        }
      }

      &-number {
        color: $primary_color_2;
        font-size: 18px;
      }
    }
  }

  &--centered {
    align-items: center;
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__column {
      margin-left: 0;
      width: 100%;
      padding: 24px 15px;
    }

    &__map-wrapper {
      width: 100%;
    }
  }
}

.pre-footer {
  padding: 20px 0;
  background-color: lighten($footerBgColor, 10%);
}

.copyright {
  padding: 14px 0;
  color: $light_text_color;
  display: flex;
  justify-content: space-between;

  a {
    color: $themeColorTwo;

    &:hover {
      color: lighten($themeColorTwo, 15%);
    }
  }

  //xs 544
  @media #{$mobile} {
    flex-direction: column;
    text-align: center;
  }
}