.front-news {
    &-list {

    }

    &-box {
        @include smooth_animation;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    
        &:hover {
            box-shadow: $shadow;
        }
    }

    &-inner {
        padding: 15px;
    }

    &-item {
        margin-bottom: 20px;
    }

    &-headline {
        font-size: 18px;
        margin-bottom: 10px;
        &:hover a {
            text-decoration: none;
        }

        a {
            text-decoration: underline;
        }
    }

    &-preview {
        margin-bottom: 10px;

        a {
            display: block;
        }
    }

    &-thumbnail {
        display: block;
        margin-bottom: 0;
    }

    &-excerpt {
        margin-bottom: 10px;

        &,
        p {
            text-align: justify;
            font-size: 16px;
            line-height: 1.5;
            color: $bodyFontColor;
        }
    }
}

.blog-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
    .blog-section {
        flex-direction: column;
        justify-content: center;
        & .main-title {
            margin-bottom: 10px;
        }
    }
}
