@font-face {
  font-family: 'Greenwich';
  src: url("assets/fonts/Greenwich-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Greenwich';
  src: url("assets/fonts/Greenwich-Bold.otf");
  font-style: normal;
  font-weight: bold;
}


$font-family-sans-serif: 'Greenwich', 'Arial', sans-serif;
$font-family-serif: 'Greenwich', 'Arial', sans-serif;

$fontFamilyOne: $font-family-sans-serif; // titles
$fontFamilyTwo: $font-family-sans-serif; // body
